---
import Layout from '../layouts/Layout.astro';
import GameCard from '../components/GameCard.astro';
import { getCollection } from 'astro:content';

const games = await getCollection('blog');
const sortedGames = games.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<Layout 
  title="Inicio" 
  description="Bienvenidos al blog de videojuegos definitivo."
>
  <section class="py-16 text-center">
    <h1 class="text-5xl md:text-7xl font-bold mb-6 tracking-tighter text-slate-100">
      LAS ÚLTIMAS <span class="text-indigo-500">RESEÑAS</span>
    </h1>
    <p class="text-slate-400 max-w-2xl mx-auto text-lg">
      Analizamos los títulos más importantes del año con datos tipados y estructurados de forma impecable.
    </p>
  </section>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 max-w-7xl mx-auto px-4">
    {
      sortedGames.map((game) => (
        <GameCard 
          title={game.data.title}
          rating={game.data.rating}
          platform={game.data.platform}
          image={game.data.image}
          href={`/blog/${game.slug}`}
        />
      ))
    }
  </div>
</Layout>